*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* HEADER */
header{
    width: 100%;
}

/* BODY */
.bodyIndex{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/* MAIN */
.mainIndex{
    background-color: antiquewhite;
    .sectionIndex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        h1{
            text-align: center;
        }
    }
}

.mainIndex{
    height: 100%;
    width: 100%;
}
.ul-acordeon{
    width: 100%;
}
/* RESERVAS MAIN */
.reservasMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .sectReservas{
        background-color: antiquewhite;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid black;
    }

    .formularioReservas{
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        input{
            padding: 5px;
            border: 1px solid black;
        }
        textarea{
            border: 1px solid black;
        }
    }

    .contInfoReservas{
        height: 170px;
        background-color: antiquewhite;
        padding: 5x;
        border-radius: 15px;
        border: 1px solid black;
        h3{
            font-size: 20px;
            text-align: center;
        }
    }
}






/* FOOTER */
footer{

    width: 100%;
    #parrafoFooter{
        text-align: center;
        font-size: 18px;
    }

    .ulFooter{
        padding: 0px;
        display: flex;
        justify-content: space-around;
        gap: 60px;

        li{
            padding: 5px 8px;
            border: 1px solid black;
            border-radius: 25px;
            background-color: rgb(203, 214, 224);
            font-size: 20px;

        }
    }
}


/* MEDIA INDEX */
@media screen and (min-width: 402px){
    .somos{
        text-align: center;
    }
}

@media screen and (min-width: 505px){
    .bodyIndex{
        height: 130vh;
    }
    .reservasMain{
        display: flex;
        justify-content: space-evenly;
    }
    #submit{
        margin-top: 90px;
    }

}